HSPS/HSPS/TestSolution.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HSPSSolution">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Variables">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Variable">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Steps">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Step">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Actions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BuildListAction">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="Columns">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Column">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Properties">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="Property">
                                                    <xs:complexType>
                                                      <xs:attribute name="Name" type="xs:string" use="required" />
                                                      <xs:attribute name="Value" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Type" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ListTitle" type="xs:string" use="required" />
                              <xs:attribute name="DisplayInQuickLuanch" type="xs:string" use="required" />
                              <xs:attribute name="Description" type="xs:string" use="required" />
                              <xs:attribute name="Output" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Title" type="xs:string" use="required" />
      <xs:attribute name="Version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>